body {
    margin: 0;
    padding: 0;
                background-image: url('images/Image3.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
    color: white;
    font-family: "Cinzel", serif;
}
.hero {
    width: 100%;
    padding: 120px 20px 140px;
    position: relative;
    text-align: center;
}


.hero-title {
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 20px 30px;
    width: 100%;
    border-radius: 12px;
}

.hero-title p {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 12px;
}

.hero-title h1 {
    font-family: 'Cinzel', serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.email-wrapper {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.email-box {
    max-width: 850px;
    background: rgba(255, 255, 255, 0.07);
    padding: 40px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    line-height: 1.7;
    font-size: 17px;
}

.footer {
    text-align: center;
    padding: 70px 20px;
}

.logo {
    width: 280px;
    display: block;
    margin: 0 auto 40px;
}

.contact {
    font-size: 30px;
    margin-bottom: 25px;
}

.social-img {
    width: 300px;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .hero {
        height: 650px;
    }

    .hero-title h1 {
        font-size: 28px;
    }

    .social-img {
        width: 200px;
    }

    .logo {
        width: 220px;
    }
}